
.App{
  justify-items: center;
  display: flex;
  flex-direction: column;
}
.list {
  width: 80vw;
  margin:100px auto;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  
  
  
 
}.card{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  
}
.form{
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}

.closeIcon{
  color: red;
}

.title{
  float: right;
}

.image{
  object-fit:contain !important;
  width: 345px !important;
  
  
}
.text{
  height: 30px;
  margin-right: 10px;
  outline: none;
 
  
}

.input{
  display: none;
}

.label{
  cursor: pointer;
  width: 200px !important;
}
@media screen and (max-width: 500px){ 
  .label{
    cursor: pointer;
    width: 120px !important;
  }
  .text{
    width: 150px;
   
    
  }
  
}


